In [6]:
import pandas as pd
import numpy as np

In [4]:
10312//3

3437

In [7]:
filenames = ['llc4320_Eta-U-V-W-Theta-Salt_f' + str(var1) + '_k0_iter_' + str(var) 
             for var in np.arange(10368,505344,144) for var1 in range(0,13)]

In [9]:
len(filenames)

44694

In [10]:
d = {'names': filenames, 'NConDISK': [0]*44694, 'JSONonDISK': [0]*44694, 'jsonreplace': [0]*44694,
    'NConOSN': [0]*44694,'JSONonOSN': [0]*44694}
df = pd.DataFrame(data=d)
df = df.set_index('names')

In [11]:
df.head(10)

,NConDISK,JSONonDISK,jsonreplace,NConOSN,JSONonOSN
names,,,,,
llc4320_Eta-U-V-W-Theta-Salt_f0_k0_iter_10368,0,0,0,0,0
llc4320_Eta-U-V-W-Theta-Salt_f1_k0_iter_10368,0,0,0,0,0
llc4320_Eta-U-V-W-Theta-Salt_f2_k0_iter_10368,0,0,0,0,0
llc4320_Eta-U-V-W-Theta-Salt_f3_k0_iter_10368,0,0,0,0,0
llc4320_Eta-U-V-W-Theta-Salt_f4_k0_iter_10368,0,0,0,0,0
llc4320_Eta-U-V-W-Theta-Salt_f5_k0_iter_10368,0,0,0,0,0
llc4320_Eta-U-V-W-Theta-Salt_f6_k0_iter_10368,0,0,0,0,0
llc4320_Eta-U-V-W-Theta-Salt_f7_k0_iter_10368,0,0,0,0,0
llc4320_Eta-U-V-W-Theta-Salt_f8_k0_iter_10368,0,0,0,0,0
llc4320_Eta-U-V-W-Theta-Salt_f9_k0_iter_10368,0,0,0,0,0

In [12]:
df.to_csv('checklist1.csv')